<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="ProjectClothEntities" connectionString="metadata=res://*/DataBase.DBProjectCloth.csdl|res://*/DataBase.DBProjectCloth.ssdl|res://*/DataBase.DBProjectCloth.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=gogs.kp11.ru;initial catalog=ProjectCloth;persist security info=True;user id=grishin_lv;password=DdtlbntGfhjkmLkz&lt;L;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
